{% extends 'base.html' %} {% block content %}
<div class="art-2">
<br>
<br>
<br>
<div class="post-create"><form method="post" action="{% url 'signup' %}">
  <h1 class="title">Sign Up</h1>
  {% csrf_token %} {% for field in form %}
  <p>
    {{ field.label_tag }}<br>
    {{ field }}
    {% if field.help_text %}
      <small style="color: grey"></small>
    {% endif %}
    {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}
  </p>
{% endfor %}
<button class="form-btn" type="sign-up-button">Sign up</button>
</form></div>
</div>


{% endblock %}