{% extends 'base.html' %}{% block content %}

<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
      <div class="row">
          <div class=" col-md-8 col-md-10 mx-auto">
              <div class="site-heading">
                  <h1 class=" site-heading my-4 mt-3 text-white"> The Penalty Box </h1>
                  <p class="text-light">My opinion is better than yours.
                  </p>
              </div>
          </div>
      </div>
  </div>
</header>

<div class="container">
    <div class="row">
      <div class="col-md-8 card mb-4  mt-3 left  top">
        <div class="card-body">    
 
 
      <h1 class="post-title">{{cats}} posts</h1>
      
      {% for post in category_posts %}
      <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
            <p class="card-text">{{post.excerpt }} ...</p>
            <a href="{% url 'post_detail' post.pk  %}" class="btn btn-primary">Read More &rarr;</a>
        </div>
    </div>
      {% endfor %}
        
    </div>
</div>
{% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
</div>
</div>

{% endblock %}
