{% extends 'base.html' %}{% block content %}

    
     
    <br>
    <div class="gallery-posts">
      <h1 class="post-title">Posts</h1>
        {% for post in category.posts.all %}
          <div class="card">
            <div class="card-image">
            </div>
            <div class="card-header-title">
              <a href="{% url 'post_detail' post.pk %}"><button class="card-header-title">{{post.title}}</button></a>
            </div>
          </div>
          {% empty %}
        <article class="message">
          <div class="message-header">
            <p>No Posts Available</p>
          </div>
        </article>
        {% endfor %}
        
      </div>
    </div>
  </div>
</div>



  {% endblock %}