{% extends 'base.html' %} {% block content %}
<style>
    .form-size {
        margin: auto;
        border: 2px solid #3398E1;
        padding: 20px; 
        width: 600px;
        border-radius: 15px;
    }

    .form-group {
        text-align: center;
    }

    .cancel {
        text-align: center;
    }
    
</style>
<br>
<br>
<br>
<div class="form-size">

   
    <form  method="post">
    <h1 class="Delete-title">Are you sure you want to delete the post titled "{{post.title}}"?</h1>
    <br>
    
        {% csrf_token %}
        <div class="form-group">
                <!--confirm post delete-->
                <button class="btn btn-danger">Delete</button>
                <!--redirect back to the post detail on cancel.  if this is a "button," it deletes the post regardless of whether it is cancelled or confirmed-->
                <br>
                
                    
                
        
        
        </form>
    </div>
    <div class="cancel">
        <a href="{% url 'post_detail' post.pk %}"><button class="btn btn-primary">Cancel</button></a>
    </div>
         
    
</div>

{% endblock %}