{% extends 'base.html' %} {% block content %}

<style>
  .comment-box {
      margin: auto;
      border: 2px solid #3398E1;
      padding: 20px; 
      width: 600px;
      border-radius: 15px;
      
  }

  .form-size {
        margin: auto;
        border: 2px solid #3398E1;
        padding: 20px; 
        width: 700px;
        border-radius: 15px;
  }
  
</style>

<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
      <div class="row">
          <div class=" col-md-8 col-md-10 mx-auto">
              <div class="site-heading">
                  <h3 class=" site-heading my-4 mt-3 text-white"> The Penalty Box </h3>
                  <p class="text-light">My opinion is better than yours.
                  </p>
              </div>
          </div>
      </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <a href="{% url 'category' post.category %}"> {{post.category.title}}</a>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <br>
        <p class="card-text ">{{ object.content | safe }}</p>
      </div>
      <hr>
      <h2>Comments</h2>
      <div class="form-group">
        <div class="form-size">
      <form action="{% url 'comment_create' post.pk %}" method="post">
       
        {% csrf_token %}
        <input type="text" class="form-control" name="name" placeholder="Name" required>
        <br>
        <input type="text" class="form-control" name="description" placeholder="Your dumb comment" required>
        <br>
        <input class="comment-section-submit" type="submit" value="Post">
        
      </form>
      </div>
    </div>
      <!-- <a href="{% url 'comment_create' post.pk %}"><button class="btn btn-primary">Comment</button></a> -->
      <br>
      <hr>
          {% for comment in post.comment.all %}
          <br>
          <br>
          <div class="comment-box">
            Name: {{ comment.name }}
            <hr>
            <div class="comment-detail">
              Comment: {{ comment.description }} 
            </div>
             
          </div>
           
            {% endfor %}
  
      <br>
    </div>
    <br>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
  {% if request.user.is_superuser %}

    <div class="button2">
      <a href="{% url 'post_edit' post.pk %}" class=" is-danger">
          <button class="btn btn-primary">Edit Post</button>
        </div>
        <br>
    <div class="button1">
      <a href="{% url 'post_delete' post.pk %}" class=" is-danger">
          <button class="btn btn-danger">Delete</button>
        </div>
 
  
  {% endif %}
</div>

        
{% endblock content %}