{% extends 'base.html' %} {% block content %}

<style>
    .form-size {
        margin: auto;
        border: 2px solid #3398E1;
        padding: 20px; 
        width: 900px;
        border-radius: 15px;
        
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 class=" site-heading my-4 mt-3 text-white"> The Penalty Box </h1>
                    <p class="text-light">My opinion is better than yours.
                    </p>
                </div>
            </div>
        </div>
    </div>
  </header>
  <br>
  <br>
<div class="form-size">
<form method="post">
    <div class="form-group"></div>
    <h1 class='title'>Add a Post</h1>
        <!--Security Feature-->
        {% csrf_token %}
        <!-- Generate inputs-->
        {{form.media}}
        {{form.as_p}}
        <!--Submit Form-->
        <button class="btn btn-primary">Submit Post</button>
    </div> 
    


</form>
</div>  


{% endblock %}