{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ object.content | safe }}</p>
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
  {% if user.is_authenticated %}
  <div class="icon">
    <a href="{% url 'post_delete' post.pk %}" class=" is-danger">
        <button class="btn btn-danger">Delete</button>
      </div>
      <div class="icon">
        <a href="{% url 'post_edit' post.pk %}" class=" is-danger">
            <button class="btn btn-primary">Edit Post</button>
          </div>
  {% endif %}
</div>

        
{% endblock content %}