{% block sidebar %}
{% load static %}
<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;  
        }

        img.card {
            height: 65%;
            width: 65%;
            align-items: center;
        }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Me</h5>
    <div class="card-body">
        <p class="card-text"> I'm just a dude with some opinions that are probably wrong but you're never going to change my mind. Tell me why I'm wrong in the comments!</p>
    </div>
    <img class="me" src="{% static 'images/IMG_1249.jpg' %}" alt="My image">
</div>

</div>


{% endblock sidebar %}